$rock-color: #63424B;
$paper-color: #36504B;
$scissors-color: #535353;

@import 'base';

main {
    max-width: 500px;
    margin: auto;
}

header {
    text-align: center;
    padding: 40px;

    h1 {
        font-weight: bold;

        span {
            &:nth-child(1) {
                color: $rock-color;
            }

            &:nth-child(2) {
                color: $paper-color;
            }

            &:nth-child(3) {
                color: $scissors-color;
            }
        }
    }

    hr {
        border: 2px solid #81d4fa;
        width: 50px;
    }
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
        border-radius: 20px;
        width: 100px;
        height: 100px;
        padding: 60px;
        background-repeat: no-repeat;
        background-position: center center;

        &.rock {
            background-image: url(/assets/images/mini-r.png);
            border: 4px solid $rock-color;
        }

        &.papper {
            background-image: url(/assets/images/mini-p.png);
            border: 4px solid $paper-color;
        }

        &.scissors {
            background-image: url(/assets/images/mini-s.png);
            border: 4px solid $scissors-color;
        }


        &:hover,
        &:active {
            cursor: pointer;
            border-color: #333;
            background-position: 60% 60%;
        }
    }
}

#score {
    background-color: #F8F8F8;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    margin-bottom: 20px;

    >div {
        text-align: center;
        vertical-align: bottom;
        padding: 5px;

        h2 {
            font-weight: bold;
        }

        p {
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

#timeline {
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            width: 50px;
            height: 50px;

        }

        hr {
            flex-grow: 1;
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            margin: 10px;
        }
    }
}